@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #ca0fab;
}

body {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    display: block;
    padding: 1rem 1rem;
    
    /* margin: auto; */
}
.heading {
    font-size: 50px;
}

textarea {
    height: 40vh;
    width: 500px;
    
    margin:auto;
    text-align: center;
    max-width: 100%;
    display: ruby-text-container;
}

button {
    padding : 1rem 1rem;
    background-color: rgb(10, 1, 1);
    color: white;
    margin: 1rem 1rem ;
}

#txt-output {
    border: 1px solid black;
    height: 20vh;
    width : 600px;
    color: black;
    max-width: 100%;
    margin:auto;
}